
<body>
<div class= "parallax2"></div>

<h1>Choose a site</h1>
<h2>Your decision, your strength!</h2>



<!-- Header -->
<div class="header">
    <h1>Your Shaker for the Beginning</h1>
    <p>Decide between Horde or Alliance</p>
  </div>
  
  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
    <div class="container">
        <img src="../../assets/WoW Shaker Mockup Allianz.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">add to cart ></div>
        </div>
      </div>
    </div>
    <div class="container">
        <img src="../../assets/WoW Shaker Mockup Horde.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text">add to cart ></div>
          </div>
        </div>
      
    <div class="container">
          <img src="../../assets/forthealliance.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text">add to cart ></div>
          </div>
        </div>
      
    <div class="container">
          <img src="../../assets/forthehorde.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">add to cart ></div>
            </div>
          </div>
        </div>
        <!--
      <img src="../../assets/forthealliance.jpg" style="width:100%">
      <img src="../../assets/forthehorde.jpg" style="width:100%">
          </div>
                    -->
<p></p>
                    <div class="parallax3"></div>     
</body>










