.parallax2 {
  /* The image used */
  background-image: url("../../assets/WoW_Battle_for_Azeroth_Anduin_tif_jpgcopy.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallax3 {
  /* The image used */
  background-image: url("../../assets/bd0fce201732acc569c005df380ac79c.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

  body {background-color: rgb(39, 40, 44); color: rgb(255, 255, 255) }


 
  .container {
    position: relative;
    width: 25%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgb(23, 27, 43);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: fantasy;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    font-family: fantasy;
  }

  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }

  .middle {
    text-align: center;
    padding: 32px;
  }
  
  footer {
    position: center;
    padding: 50px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  p {
    font-family: inherit;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 600px;
    margin-left: 600px;
  }