
<body>
<div class= "parallax2"></div>


<!-- Header -->
<div class="header">
  <h1>Choose your site</h1>
  <h1>Your Shaker for the Beginning - Your decision, your strength!</h1> 
      
  </div>
  
  <!-- Photo Grid -->
  <div class="row"> 
    
    <div class="container">
        <img src="../../assets/WoW Shaker Mockup Allianz.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">add to cart ></div>
        </div>
      </div>
    
    <div class="container">
        <img src="../../assets/WoW Shaker Mockup Horde.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text">add to cart ></div>
          </div>
        </div>
      
    <div class="container">
          <img src="../../assets/forthealliance.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text">add to cart ></div>
          </div>
        </div>
      
    <div class="container">
          <img src="../../assets/forthehorde.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">add to cart ></div>
            </div>
          </div>
        </div>
        <!--
      <img src="../../assets/forthealliance.jpg" style="width:100%">
      <img src="../../assets/forthehorde.jpg" style="width:100%">
          </div>
                    -->
<p></p>
<div class="middle">
Horde vs Alliance
</div>
<p></p>
                    <div class="parallax3"></div>     
                    <footer>
                      <p>Footer</p>
                    </footer>

                  </body>










