body {background-color: rgb(39, 39, 39); color: rgb(255, 255, 255) }

.body { margin-left:  30px; }
    .body { margin-right: 30px; }

p {
    font-family: inherit;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 600px;
    margin-left: 600px;
  }

  .parallax4 {
    /* The image used */
    background-image: url("../../assets/27U3RCIA2KD01539118620766.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  .parallax5 {
    /* The image used */
    background-image: url("../../assets/a66a8pvty7c11.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }